<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>專案001_形象網站</title>
	<link rel="stylesheet" href="css/all.css">
</head>
<body>
	<div class="warp">
		<div class="menu">
			<div class="btn-content">
				<ul>
					<li><a href="">button1</a></li>
					<li><a href="">button2</a></li>
					<li><a href="">button3</a></li>
					<li><a href="">button4</a></li>
					<li><a href="">button5</a></li>
					<li><a href="">button6</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			
		</div>
		<div class="about">
			
		</div>
		<div class="main">
			<div class="content">
				<%= lorem_sentence %>
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam aliquid assumenda harum quidem praesentium nobis. Molestias et ex, magnam modi repellat reiciendis temporibus nihil beatae tenetur alias, corporis! Perspiciatis, doloremque.
			</div>
		</div>
		<div class="soushow"></div>
		<div class="uderLink"></div>
		<div class="footter">
			<%= lorem_sentence %>
		</div>
	</div>
</body>
</html>