<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>專案001_形象網站</title>
	<link rel="stylesheet" href="css/all.css">
	<script type="text/javascript" src="jq/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="jq/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="jq/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="jq/main.js"></script>
</head>
<body>
	<div class="warp">
		<div class="menu">
			<div class="btn-content">
				<ul>
					<li><a href="">button1</a></li>
					<li><a href="">button2</a></li>
					<li><a href="">button3</a></li>
					<li><a href="">button4</a></li>
					<li><a href="">button5</a></li>
					<li><a href="">button6</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			
		</div>
		<div class="about">
			手工Json資料更新方式
		</div>
		<div class="main">
			<ul class="gallery" id="gallery"></ul>
		</div>
		<div class="footter">
			<%= lorem_sentence %>
		</div>
	</div>
</body>
</html>