<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>專案001_形象網站</title>
	<link rel="stylesheet" href="css/all.css">
	<script type="text/javascript" src="jq/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="jq/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="jq/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="jq/main.js"></script>
</head>
<body>
	<div class="warp">
		<div class="menu">
			<div class="btn-content">
				<ul>
					<li><a href="">首頁</a></li>
					<li><a href="">關於玉峰</a></li>
					<li><a href="">我們的服務</a></li>
					<li><a href="">小知識</a></li>
					<li><a href="">成功案例</a></li>
					<li><a href="">來玉峰吧</a></li>
				</ul>
			</div>
		</div>
		<div class="header">
			<h1>我是banner</h1>
		</div>
		<div class="about">
			手工Json資料更新方式
		</div>
		<div class="main">
			<ul class="gallery" id="gallery"></ul>
		</div>
		<div class="footter">
			<%= lorem_sentence %>
		</div>
	</div>
</body>
</html>